##ignore all logs
**/*.log

##ignore tools temporary and input files
#last zone-h entry saved in database
/deface.temp    
#list of domains for crawler to scan
/domains.file

##ignore Vim swap files
**/*.swp
